@import (reference) '../../style/index.less';

.container {
    .flex-center();
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    // box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    @media @mobile {
        flex-direction: column;
    }
}

.post {
    .flex-center();
    padding: @padding-small;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    &:hover {
        > div:first-child > a > div {
            transform: scale(1.1) !important
        }
    }
    @media @mobile {
        width: 100%;
        flex-direction: column;
    }
}

.cover {
    overflow: hidden;
    margin: 30px 0;
    width: 30%;
    min-width: 30%;
    box-shadow: @box-shadow-cover;
    border-radius: 2px;
    & > a > div {
        transition: @transition-time transform;
    }
    @media @mobile {
        min-width: 100%;
        width: 100%;
        margin: 0;
    }
}

.content {
    .frame-small();
    flex-grow: 2;
    white-space: pre-line;
    h2, p {
        margin: @margin-small @margin-zero @margin-zero @margin-zero;
    }
    h2 {
        text-shadow: @text-shadow-title;
        font-size: 2rem;
        text-align: left;
    }
    p {
        .frame-small();
        font-family: 'Raleway, sans-serif';
        font-size: 1rem;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: normal;
    }
}
